<div class="app">
  <mat-sidenav-container>
    <mat-sidenav opened mode="side">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-view">
        <app-headline [weather]="weather"></app-headline>
      </div>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Search" type="search" />
        <mat-icon matIconPrefix>search</mat-icon>
      </mat-form-field>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-sidebar class="mobile-sidenav"></app-sidebar>
</div>
