<div class="app">
  <mat-sidenav-container>
    <mat-sidenav ngModel #drawer opened mode="side">
      <app-sidebar [drawer]="drawer"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <div class="top-bar">
        <button type="button" mat-button (click)="toggleDrawer()" [ngClass]="{'hidden': drawer.opened}">Toggle sidenav</button>
        <app-search-bar class="search-bar"></app-search-bar>
      </div>
      <div class="main-view">
        <app-headline [weather]="weather$ | async"></app-headline>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
 <!--
<app-sidebar class="mobile-sidenav"></app-sidebar>

 -->
  
</div>
