.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

mat-sidenav {
  min-width: 200px;
  width: 25vw;
  max-width: 400px;
  padding: 1em;
}

mat-sidenav-content {
  width: 100%;
}

.mat-drawer-container {
  width: 100%;
}

.mobile-sidenav {
  display: none;
}

@media only screen and (max-width: 600px) {
  mat-sidenav-container {
    display: none;
  }
  .mobile-sidenav {
    display: block;
    width: 100%;
    padding: 1em;
  }
}
