<mat-nav-list>
    <div mat-list-item mat-ripple class="sidebar-item">
        <div class="top">
            <div class="left">
                <h1 class="item-h1">Location</h1>
                <p class="item-h2">Time</p>
            </div>
            <div class="right">
                <p class="item-temp">26</p>
            </div>
        </div>
        
        <div class="bottom">
            <div class="left item-p">Conditions</div>
            <div class="right item-p">High: Low</div>
        </div>
    </div>
</mat-nav-list>

